<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Táblázat</title>
</head>
<body>
    <h1>Növények listája</h1>
<table>
    <tr>
        <th>Név</th>
        <th>Típus</th>
        <th>jellemző</th>
    </tr>
{% for plant in plants %}
<tr>
    <td>{{ plant.name }}</td>
    <td>{{ plant.type }}</td>
    <td>{{ plant.feature}}</td>
</tr>
{% endfor %}
</table>

<br>
<br>
<a href ="{{ url_for('index') }}">Vissza a főoldalra</a>

</body>
</html>

